In [2]:
import sqlite3

# Create/connect DB
conn = sqlite3.connect('demo.db')
c = conn.cursor()

# Create table
c.execute('''CREATE TABLE IF NOT EXISTS households
             (id INTEGER PRIMARY KEY, gapaname TEXT, owned INTEGER, total INTEGER)''')

# Insert data
c.execute("INSERT OR IGNORE INTO households VALUES (1, 'Demo Gaunpalika', 100, 150)")

# Query
c.execute("SELECT * FROM households")
print(c.fetchall())  # Output: [(1, 'Demo Gaunpalika', 100, 150)]

conn.commit()
conn.close()

[(1, 'Demo Gaunpalika', 100, 150)]

In [3]:
import requests
import pandas as pd

# Fetch
r = requests.get('https://pokeapi.co/api/v2/pokemon/pikachu')
data = r.json()

# Process
# Manual extraction – understand the JSON
types = [t['type']['name'] for t in data['types']]
df = pd.DataFrame([{
    'name': data['name'],
    'height': data['height'],
    'weight': data['weight'],
    'types': types
}])
df
# Output: DataFrame with Pikachu stats

      name  height  weight       types
0  pikachu       4      60  [electric]

In [4]:
# Add a User-Agent header to avoid 403 Forbidden
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0 Safari/537.36'
}

url = "https://en.wikipedia.org/wiki/Provinces_of_Nepal"

# Fetch the page with headers
response = requests.get(url, headers=headers)
# Check if request was successful
if response.status_code == 200:
    # Parse all tables
    tables = pd.read_html(response.text)
    print(f"Found {len(tables)} tables on the page")
    
    # Show preview of first few tables to find the right one
    for i, table in enumerate(tables[:5]):
        print(f"\n--- Table {i} ---")
        print(table.head(2))
else:
    print(f"Error: {response.status_code}")

# To avoid warning do this
from io import StringIO
tables = pd.read_html(StringIO(response.text))

Found 19 tables on the page

--- Table 0 ---
  Autonomous Nepalese Provinces स्वायत्त नेपाली प्रदेशहरू  \
0                                                NaN
1                                           Category

  Autonomous Nepalese Provinces स्वायत्त नेपाली प्रदेशहरू.1
0                                                NaN
1                                    Federated state

--- Table 1 ---
                                     0
0  This article is part of a series on
1    Administrative divisions of Nepal

--- Table 2 ---
                                   Politics of Nepal
0  Constitution Fundamental Rights and Duties Hum...
1  Government President: Ram Chandra Poudel Vice ...

--- Table 3 ---
  Province    ISO     Capital           Governor      Chief Minister  \
0    Koshi  NP-P1  Biratnagar  Parshuram Khapung  Hikmat Kumar Karki
1  Madhesh  NP-P2    Janakpur   Sumitra Bhandari  Satish Kumar Singh

                                           Districts        Area  Pop. (2021)  \
0  TaplejungPanchtharIlamJhapaTehrathumSankhuwasa...  25,905 km2      4972021
1  SaptariSirahaDhanushaMahottariSarlahiRautahatB...   9,661 km2      6126288

   Density (/km2)  Reps.  Map
0             192     28  NaN
1             635     32  NaN

--- Table 4 ---
                               vteProvinces of Nepal  \
0  Koshi Madhesh Bagmati Gandaki Lumbini Karnali ...

                             vteProvinces of Nepal.1 vteProvinces of Nepal.2
0  Koshi Madhesh Bagmati Gandaki Lumbini Karnali ...            Nepal portal

/var/folders/by/1y9dyrg52t3_69n_jld52myh0000gn/T/ipykernel_11411/4035373972.py:13: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(response.text)

In [13]:
from lxml import objectify
path = "./Performance_MNR.xml"
with open(path) as f:
    parsed = objectify.parse(f)
root = parsed.getroot()
# root.INDICATOR returns a generator yielding each <INDICATOR> XML element. 
# For each record, we can populate a dictionary of tag names (like YTD_ACTUAL) to data values (excluding a few tags) by running the following code:
data = []
skip_fields = ["PARENT_SEQ", "INDICATOR_SEQ",
"DESIRED_CHANGE", "DECIMAL_PLACES"]
for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)
# Lastly, convert this list of dictionaries into a DataFrame:
perf = pd.DataFrame(data)
perf.head()

Reading XML data with Pandas
Example-2: Use read_xml to create pandas dataframe
perf2 = pd.read_xml(path)
perf2.head()

2.5 Handling Large Datasets
Key Concepts
. . .

Terminology: - Generator: Yields items one-by-one (memory efficient) - Iterator: Object to traverse collections lazily - Streaming: Process without loading all at once

30 / 33

SyntaxError: invalid syntax (1881461697.py, line 22)